/* Write your CSS here */
.denomination-item {
  flex: 1 1 45%;
}

.button {
  background-color: #382f5a;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}

.button:hover {
  background-color: #7c3aed;
  color: #ffffff;
}
